* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-body: #FFFFFF;
    --bg-rain: #02799D;
    --bg-rain-hover: #07566d;
    --bg-card:  #E1E1E6;
    --bg-card-hover:  #bdbdc3;
    --bg-button: #323238;
    --bg-button-hover: #131314;
    --bg-button-rian: #FFFFFF;
   
}

.dark-mode:root{
    --bg-body: #121214;
    --bg-rain: #0A3442;
    --bg-rain-hover: #041217;
    --bg-card:  #29292E;
    --bg-card-hover:  #3a3a3f;
    --bg-button: #C4C4CC;
    --bg-button-hover: #dcdce6;
    
    
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-body);

    
}

.clear, 
.dark {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6rem;
   
}

.hide {
    display: none;
}


main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   

    max-width: clamp(41rem, 10vw + 41rem, 82rem);
    max-height: clamp(12.8rem, 30vh + 12.8rem, 33.6rem);


   
    margin: 0 auto ;
    padding-top: 30rem;

    gap: 16rem;
    
}

.control svg path:hover{
    fill: var(--bg-button-hover);
}
.control svg path {
    fill: var(--bg-button);
}



.clock {
    width:  clamp(15.6rem, 10vw + 15.6rem, 32.1rem);
    height: clamp(10.5rem, 10vh + 10.5, 21.3rem);

    transition: fill 2ms;
}


.timer {
    font-weight: 500;
    font-size:  12.6rem;
    line-height: 14.8rem;
    text-align: center;
    text-transform: uppercase;

    color: var(--bg-button);

    display: flex;
    flex-direction: row;

}

.control {
    display: flex;
    flex-direction: row;


    gap: clamp(2rem, 10vw + 2rem, 4rem);

    width: clamp(2.4rem, 30vw + 2.4rem, 4.8rem);
    height:  clamp(2.4rem, 30vh + 2.4rem, 4.8rem);

    
    
}

main .sounds {
    display: grid;
    grid-template-areas: "A B"
                         "C D";
  
    gap: 3.2rem;
    
    justify-items: center;
    align-items: center;

}

main .sounds div:nth-child(1){
    grid-area: A;
}
main .sounds div:nth-child(2){
    grid-area: B;
}
main .sounds div:nth-child(){
    grid-area: C;
}
main .sounds div:nth-child(4){
    grid-area: D;
}



.forest,
.coffeeshop,
.fireplace{
   
    background: var(--bg-card);
    border-radius: 24px;
}

.playing {  
    background: var(--bg-card-hover);
}



.sounds .forest,
.coffeeshop,
.fireplace,
.rain {
   position: relative;
    width: 13.8rem;
    height:  15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items:center;
    gap: 3.5rem;
    
    
   
}


.sounds .rain {

    background: var(--bg-rain);
    border-radius: 24px;
}

.sounds .rain:hover {
    background: var(--bg-rain-hover);
}

.sounds .forest:hover,
.coffeeshop:hover,
.fireplace:hover {
    
    background: var(--bg-card-hover);
}

.sounds
.forest svg path,
.coffeeshop svg path,
.fireplace svg path{
    fill: var(--bg-button);
}

input {
    position: absolute;
    top: 12.1rem;
    left: 2.4rem;
    right: 2.4rem;
    appearance: none;
    width: 9rem;
    height: .5rem;
    background-color: var(--bg-button);
   
   
 
}

.rain input{
    background-color: var(--bg-button-rian);
}

input::-webkit-slider-thumb{
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;  
   
    background-color: var(--bg-button);
    border-radius: 50%;
    cursor: pointer;

}

.rain input::-webkit-slider-thumb{
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;  
    appearance: none;
    background-color: var(--bg-button-rian);
    border-radius: 50%;
    cursor: pointer;
}


input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}



@media (max-width: 900px){
    main {
        flex-direction: column;
        gap: 8rem;
        justify-content: center;
        align-items: center;

        margin: 4rem 8rem;
    }

    main .sounds{
        margin-left: 8.0rem;
        padding: 2.4rem 2.3rem;
    }
    

   
}